ninja  # For faster builds.
psutil
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch >= 2.0.0
transformers >= 4.33.1  # Required for Code Llama.
xformers >= 0.0.21
fastapi
uvicorn
ray==2.6.3
pydantic==1.10.12
outlines==0.0.8
